<h1>Podmět a přísudek</h1>
<div class="card text-center card bg-transparent ">
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Shoda přísudku s podmětem</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Shoda přísudku s několikanásobným podmětem</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Shoda přísudku s nevyjádřeným podmětem</p>
  </div>
  <router-outlet></router-outlet>
