<h1>Věty</h1>
<div class="card text-center card bg-transparent ">
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Počet slov ve větách</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Druhy vět doplňování znamének za větou</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Druhy vět</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Věta jednoduchá souvětí</p>
  </div>
</div>
<router-outlet></router-outlet>
