<h1>Samohlásky a souhlásky</h1>
<div class="card text-center card bg-transparent ">
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Samohlásky u,ú,ů - doplňování</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Samohlásky-dvojhlásky -  au,ou,eu a hlásky a, o , e</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Měkké a tvrdé souhlásky </p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Psaní i-í/y,ý po d,t,n</p>
  </div>
  <router-outlet></router-outlet>
