.card{
  width: 70%;
  margin: auto;
  margin-top: 40px;
}

p{
  text-align: center;
  color: white;
  font-size: 18px;
  line-height: 5;
}

button {
  margin-top: 50px;
  float: right;
}

input{
  margin: auto;
  width: 2%;
}
