<h1>Podmět a přísudek</h1>
<div class="card text-center card bg-transparent ">
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  "> Kořen slova</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Předložky s,se,z,ze</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Předpony s,se,z,ze,vz,vze</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Přípony ný,ní</p>
  </div>
  <router-outlet></router-outlet>
