<form action="action_page.php">
  <div class="container">
    <h1>Příhlášení</h1>

    <hr>

    <label for="email"><b>Uživatelské jméno</b></label>
    <div>
      <input type="text" placeholder="Zadejte Uživatelské jméno" name="email" id="email" required>
    </div>

    <label for="psw"><b>Heslo</b></label>
    <div>
      <input type="password" placeholder="Zadejte Heslo" name="psw" id="psw" required>
    </div>

    <hr>

    <button type="submit" class="registerbtn">Přihlásit se</button>
  </div>

</form>
<router-outlet></router-outlet>
