<h1>Vyjmenovaná slova</h1>
<div class="card text-center card bg-transparent ">
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Slova po B</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Slova po L</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Slova po M</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Slova po P</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Slova po S</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Slova po V</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Slova po Z</p>
  </div>
  <router-outlet></router-outlet>
