<nav>
  <div class="dropdown">
    <button routerLink="home" class="dropbtn">Home</button>
    <div class="dropdown-content">
    </div>
  </div>
<div class="dropdown">
  <button class="dropbtn">1. Třída</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a class="lastdrop" href="#">Link 3</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">2. Třída</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a class="lastdrop" href="#">Link 3</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">3. Třída</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a  class="lastdrop" href="#">Link 3</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn">4. Třída</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a class="lastdrop" href="#">Link 3</a>
  </div>
</div>
<div class="dropdown">
  <button class="dropbtn2">5. Třída</button>
  <div class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a class="lastdrop" href="#">Link 3</a>
  </div>
</div>
</nav>


<router-outlet></router-outlet>

<footer class="bg-light text-center text-lg-start ">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); display: inline-block; text-align: center;   margin-right: 100px;
">
    © 2021 Copyright: EDUcanet
  </div>
</footer>
