<h1>Slova</h1>
<div class="card text-center card bg-transparent ">
  <div class="card-body">
    <p routerLink="/dopln_pismen_dvoj" class="card-title btn btn-light  ">slova - doplňování písmen (dvojvýrazy)</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light ">slova - doplňování písmen (věty)</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light ">počet písmen ve slovech</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light ">skládání slov</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light ">doplňování slov do vět</p>
  </div>
</div>
<router-outlet></router-outlet>
