<h1>Souhlásky na konci slov</h1>
<div class="card text-center card bg-transparent ">
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Souhlásky b,p</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Souhlásky d,t</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Souhlásky ď,ť</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Souhlásky v,f</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Souhlásky z,s</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Souhlásky ž,š</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Souhlásky h,ch</p>
  </div>
</div>
<router-outlet></router-outlet>
