<h1>Podstatná jména - rod mužský</h1>
<div class="card text-center card bg-transparent ">
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Skloňování - doplňování i,í/y,ý (dvojvýrazy)</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Skloňování - doplňování i,í/y,ý (věty)</p>
  </div>
  <div class="card-body">
    <p routerLink="/home" class="card-title btn btn-light  ">Skloňování - tvary slov</p>
  </div>
  <router-outlet></router-outlet>
