<h1>Potřebujete procvičit základy českého jazyka? Tato stránka je pro vás ideální.</h1>
<div>
<p>Stačí si jenom vybrat ze sekce ročníků 1-5 a s chutí do toho!</p>
  <div class="card">
    <div class="card-body">
      1. ročník - slova  |  hlásky  |  dvojhlásky a hlásky  |  slabiky  |  velká a malá písmena
      <div>
        2. ročník - abeceda  |  věty  |  slovní druhy  |  slova  |  samohlásky a souhlásky  |  písmeno ě  |  souhásky na konci slov
      </div>
      <div>
        3. ročník - tvary slov  |  souhlásky uprostřed slov  |  vyjmenovaná slova  |  podstatná jména  |  slovesa
      </div>
      <div>
        4. ročník - skladba slova  |  slovní druhy  |  podstatná jména rod střední  |  podstatná jména rod ženský  |  podstatná jména rod mužský
      </div>
      <div>
        5. ročník - význam slov  |  skladba slova  |  zájmena  |  číslovky  |  podmět a přísudek
      </div>
    </div>
  </div></div>

<router-outlet></router-outlet>

<img src="src/app/obrazky/Dodanizitaliekvam.png" >

