<h1>Vítejte na EduLearn</h1>
<div>
<p>Co je EduLearn?</p>
  <p class="column1">e earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. In rutrum. Integer malesuada. Nulla accumsan, elit sit amet varius semper, nulla mauris mollis quam, tempor suscipit diam nulla vel leo. Maecenas lorem. Vivamus luctus egestas leo. Vivamus ac leo pretium faucibus. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Duis condimentum augue id magna semper rutrum. Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Phasellus rhoncus. Integer in sapien. Integer lacinia. Maecenas aliquet accumsan leo. Duis bibendum, lectus ut viverra rhoncus, dolor nunc faucibus libero, eget facilisis enim ipsum id lacus. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien.</p>
</div>
<router-outlet></router-outlet>
